<div class="row">
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
          <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg" style="width:100%">
          <div class="caption">
            <p style="text-align: center"><b>Brand Name</b></p>
            <p style="color: red; text-align: center"><b>Rs 600</b></p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
          <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
          <div class="caption">
              <p style="text-align: center"><b>Brand Name</b></p>
            <p style="color: red; text-align: center"><b>Rs 600</b></p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="thumbnail">
        <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
          <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
          <div class="caption">
              <p style="text-align: center"><b>Brand Name</b></p>
            <p style="color: red; text-align: center"><b>Rs 600</b></p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
        <div class="thumbnail">
          <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
            <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
            <div class="caption">
                <p style="text-align: center"><b>Brand Name</b></p>
              <p style="color: red; text-align: center"><b>Rs 600</b></p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
          <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
            <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
            <div class="caption">
                <p style="text-align: center"><b>Brand Name</b></p>
              <p style="color: red; text-align: center"><b>Rs 600</b></p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
          <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
            <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
            <div class="caption">
                <p style="text-align: center"><b>Brand Name</b></p>
              <p style="color: red; text-align: center"><b>Rs 600</b></p>
            </div>
          </a>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-md-2">
        <div class="thumbnail">
          <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
            <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg" style="width:100%">
            <div class="caption">
              <p style="text-align: center"><b>Brand Name</b></p>
              <p style="color: red; text-align: center"><b>Rs 600</b></p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
          <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
            <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
            <div class="caption">
                <p style="text-align: center"><b>Brand Name</b></p>
              <p style="color: red; text-align: center"><b>Rs 600</b></p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="thumbnail">
          <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
            <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
            <div class="caption">
                <p style="text-align: center"><b>Brand Name</b></p>
              <p style="color: red; text-align: center"><b>Rs 600</b></p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-2">
          <div class="thumbnail">
            <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
              <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
              <div class="caption">
                  <p style="text-align: center"><b>Brand Name</b></p>
                <p style="color: red; text-align: center"><b>Rs 600</b></p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-2">
          <div class="thumbnail">
            <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
              <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
              <div class="caption">
                  <p style="text-align: center"><b>Brand Name</b></p>
                <p style="color: red; text-align: center"><b>Rs 600</b></p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-2">
          <div class="thumbnail">
            <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
              <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
              <div class="caption">
                  <p style="text-align: center"><b>Brand Name</b></p>
                <p style="color: red; text-align: center"><b>Rs 600</b></p>
              </div>
            </a>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
          <div class="thumbnail">
            <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
              <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg" style="width:100%">
              <div class="caption">
                <p style="text-align: center"><b>Brand Name</b></p>
                <p style="color: red; text-align: center"><b>Rs 600</b></p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-2">
          <div class="thumbnail">
            <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
              <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
              <div class="caption">
                  <p style="text-align: center"><b>Brand Name</b></p>
                <p style="color: red; text-align: center"><b>Rs 600</b></p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-2">
          <div class="thumbnail">
            <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
              <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
              <div class="caption">
                  <p style="text-align: center"><b>Brand Name</b></p>
                <p style="color: red; text-align: center"><b>Rs 600</b></p>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-2">
            <div class="thumbnail">
              <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
                <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
                <div class="caption">
                    <p style="text-align: center"><b>Brand Name</b></p>
                  <p style="color: red; text-align: center"><b>Rs 600</b></p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="thumbnail">
              <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
                <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
                <div class="caption">
                    <p style="text-align: center"><b>Brand Name</b></p>
                  <p style="color: red; text-align: center"><b>Rs 600</b></p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="thumbnail">
              <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
                <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
                <div class="caption">
                    <p style="text-align: center"><b>Brand Name</b></p>
                  <p style="color: red; text-align: center"><b>Rs 600</b></p>
                </div>
              </a>
            </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-2">
            <div class="thumbnail">
              <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
                <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg" style="width:100%">
                <div class="caption">
                  <p style="text-align: center"><b>Brand Name</b></p>
                  <p style="color: red; text-align: center"><b>Rs 600</b></p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="thumbnail">
              <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
                <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
                <div class="caption">
                    <p style="text-align: center"><b>Brand Name</b></p>
                  <p style="color: red; text-align: center"><b>Rs 600</b></p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-2">
            <div class="thumbnail">
              <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
                <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
                <div class="caption">
                    <p style="text-align: center"><b>Brand Name</b></p>
                  <p style="color: red; text-align: center"><b>Rs 600</b></p>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-2">
              <div class="thumbnail">
                <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
                  <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
                  <div class="caption">
                      <p style="text-align: center"><b>Brand Name</b></p>
                    <p style="color: red; text-align: center"><b>Rs 600</b></p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="thumbnail">
                <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
                  <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
                  <div class="caption">
                      <p style="text-align: center"><b>Brand Name</b></p>
                    <p style="color: red; text-align: center"><b>Rs 600</b></p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="thumbnail">
                <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
                  <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
                  <div class="caption">
                      <p style="text-align: center"><b>Brand Name</b></p>
                    <p style="color: red; text-align: center"><b>Rs 600</b></p>
                  </div>
                </a>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
              <div class="thumbnail">
                <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
                  <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg" style="width:100%">
                  <div class="caption">
                    <p style="text-align: center"><b>Brand Name</b></p>
                    <p style="color: red; text-align: center"><b>Rs 600</b></p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="thumbnail">
                <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
                  <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
                  <div class="caption">
                      <p style="text-align: center"><b>Brand Name</b></p>
                    <p style="color: red; text-align: center"><b>Rs 600</b></p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2">
              <div class="thumbnail">
                <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
                  <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
                  <div class="caption">
                      <p style="text-align: center"><b>Brand Name</b></p>
                    <p style="color: red; text-align: center"><b>Rs 600</b></p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                  <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
                    <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
                    <div class="caption">
                        <p style="text-align: center"><b>Brand Name</b></p>
                      <p style="color: red; text-align: center"><b>Rs 600</b></p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-2">
                <div class="thumbnail">
                  <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
                    <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
                    <div class="caption">
                        <p style="text-align: center"><b>Brand Name</b></p>
                      <p style="color: red; text-align: center"><b>Rs 600</b></p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-2">
                <div class="thumbnail">
                  <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
                    <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
                    <div class="caption">
                        <p style="text-align: center"><b>Brand Name</b></p>
                      <p style="color: red; text-align: center"><b>Rs 600</b></p>
                    </div>
                  </a>
                </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-2">
                <div class="thumbnail">
                  <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
                    <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg" style="width:100%">
                    <div class="caption">
                      <p style="text-align: center"><b>Brand Name</b></p>
                      <p style="color: red; text-align: center"><b>Rs 600</b></p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-2">
                <div class="thumbnail">
                  <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
                    <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
                    <div class="caption">
                        <p style="text-align: center"><b>Brand Name</b></p>
                      <p style="color: red; text-align: center"><b>Rs 600</b></p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-2">
                <div class="thumbnail">
                  <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
                    <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
                    <div class="caption">
                        <p style="text-align: center"><b>Brand Name</b></p>
                      <p style="color: red; text-align: center"><b>Rs 600</b></p>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-2">
                  <div class="thumbnail">
                    <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
                      <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
                      <div class="caption">
                          <p style="text-align: center"><b>Brand Name</b></p>
                        <p style="color: red; text-align: center"><b>Rs 600</b></p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="thumbnail">
                    <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
                      <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
                      <div class="caption">
                          <p style="text-align: center"><b>Brand Name</b></p>
                        <p style="color: red; text-align: center"><b>Rs 600</b></p>
                      </div>
                    </a>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="thumbnail">
                    <a href="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg">
                      <img src="https://i.pinimg.com/236x/41/a7/e3/41a7e3dd237ceccccc0ad1eead92d018--fashion-guys-men-fashion-style.jpg"  style="width:100%">
                      <div class="caption">
                          <p style="text-align: center"><b>Brand Name</b></p>
                        <p style="color: red; text-align: center"><b>Rs 600</b></p>
                      </div>
                    </a>
                  </div>
                </div>
            </div>