
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    
    color: white;
  }
  
  .fa-twitter {
    
    color: white;
  }
  
  .fa-google {
   
    color: white;
  }
  
  .fa-linkedin {
   
    color: white;
  }
  
  .fa-youtube {
    
    color: white;
  }
  
  .fa-instagram {
    
    color: white;
  }
  
  .fa-pinterest {
   
    color: white;
  }
  .navbar-brand{
    color: red;
    padding-left: 100px;
    font-size: 25px;
    text-shadow: 2px 2px black;
}
